/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* universal reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;   /*It's 1.7 times bigger than the predefined line height.*/
    color: #777;
    padding: 30px;
}

/* Header Start */
.header{
    height: 95vh; /*header should be 95% of the viewport height*/
    /* background-image: url(../img/hero.jpg); */
    background-image: linear-gradient(to right bottom,
                        rgba(128, 214, 113, 0.8),
                        rgba(39, 180, 133, 0.8)), 
                        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    /* background-position: bottom; */
    /* background-position: center; */
    
    /* clip-path: polygon(left top, right top, right bottom, left bottom); */
    /* clip-path: polygon(x y, x y, x y, x y); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    /* clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%); Triangle. Google: CSS clip path maker  */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


    position: relative;
}

.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

.text-box{

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;

}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
}
    /* Header End */ 