// This main file only serves to import all the other files. There will be no code here in this file except for all these import declaration.

@import "abstracts/abstracts";
@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/animations";
@import "base/typeography";
@import "base/utilities";

@import "components/button";

@import "layout/header";
@import "layout/grid";

@import "pages/home";



/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


 