/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    /*It's 1.7 times bigger than the predefined line height.*/
    color: $color-gray-dark;
    padding: 3rem;
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    /* animation property */
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: .8s;
        animation-timing-function: ease-out;

        /* animation-iteration-count: 3; */
        /* animation-delay: 1s; */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        animation-name: moveInRight;
        animation-duration: .8s;
        animation-timing-function: ease-out;
    }
}